.container-fluid.api-block-section
  .white-bg
    .container
      .api-box.col-lg-4
        .api-product-title
          %a{:href => "http://git-qa.aspose.com/aspose-total"}
            %i.api-total-ico.api-ico  
          %div
            %a{:href => "http://git-qa.aspose.com/aspose-total"}
              %h2 Aspose.Total
              %span Product Family
        %ul
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-total/Aspose.Total-for-.NET"} Aspose.Total for .NET
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-total/Aspose.Total-for-Java"} Aspose.Total for Java
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-total/Aspose.Total-for-Cloud"} Aspose.Total for Cloud
      .api-box.col-lg-4
        .api-product-title
          %a{:href => "http://git-qa.aspose.com/aspose-words"}
            %i.api-words-ico.api-ico  
          %div
            %a{:href => "http://git-qa.aspose.com/aspose-words"}
              %h2 Aspose.Words
              %span Product Family
        %ul
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-words/Aspose.Words-for-.NET"} Aspose.Words for .NET
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-words/Aspose.Words-for-Java"} Aspose.Words for Java
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-words/Aspose.Words-for-Cloud"} Aspose.Words for Cloud
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-words/Aspose.Words-for-Android"} Aspose.Words for Android
      .api-box.col-lg-4
        .api-product-title
          %a{:href => "http://git-qa.aspose.com/aspose-cells"}
            %i.api-cells-ico.api-ico  
          %div
            %a{:href => "http://git-qa.aspose.com/aspose-cells"}
              %h2 Aspose.Cells
              %span Product Family
        %ul
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-cells/Aspose.Cells-for-.NET"} Aspose.Cells for .NET
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-cells/Aspose.Cells-for-Java"} Aspose.Cells for Java
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-cells/Aspose.Cells-for-Cloud"} Aspose.Cells for Cloud
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-cells/Aspose.Cells-for-Android"} Aspose.Cells for Android
      .api-box.col-lg-4
        .api-product-title
          %a{:href => "http://git-qa.aspose.com/aspose-pdf"}
            %i.api-pdf-ico.api-ico  
          %div
            %a{:href => "http://git-qa.aspose.com/aspose-pdf"}
              %h2 Aspose.Pdf
              %span Product Family
        %ul
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-pdf/Aspose.Pdf-for-.NET"} Aspose.Pdf for .NET
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-pdf/Aspose.Pdf-for-Java"} Aspose.Pdf for Java
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-pdf/Aspose.Pdf-for-Cloud"} Aspose.Pdf for Cloud
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-pdf/Aspose.Pdf-for-Android"} Aspose.Pdf for Android
      .api-box.col-lg-4
        .api-product-title
          %a{:href => "http://git-qa.aspose.com/aspose-slides"}
            %i.api-slides-ico.api-ico  
          %div
            %a{:href => "https://git-qa.aspose.com/aspose-slides"}
              %h2 Aspose.Slides
              %span Product Family
        %ul
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-slides/Aspose.Slides-for-.NET"} Aspose.Slides for .NET
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-slides/Aspose.Slides-for-Java"} Aspose.Slides for Java
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-slides/Aspose.Slides-for-Cloud"} Aspose.Slides for Cloud
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-slides/Aspose.Slides-for-Android"} Aspose.Slides for Android
      .api-box.col-lg-4
        .api-product-title
          %a{:href => "http://git-qa.aspose.com/aspose-email"}
            %i.api-email-ico.api-ico  
          %div
            %a{:href => "http://git-qa.aspose.com/aspose-email"}
              %h2 Aspose.Email
              %span Product Family
        %ul
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-email/Aspose.Email-for-.NET"} Aspose.Email for .NET
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-email/Aspose.Email-for-Java"} Aspose.Email for Java
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-email/Aspose.Email-for-Cloud"} Aspose.Email for Cloud
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-email/Aspose.Email-for-Android"} Aspose.Email for Android
  .gray-bg
    .container
      .api-box.col-lg-4
        .api-product-title
          %a{:href => "http://git-qa.aspose.com/aspose-barcode"}
            %i.api-barcode-ico.api-ico  
          %div
            %a{:href => "http://git-qa.aspose.com/aspose-barcode"}
              %h2 Aspose.BarCode
              %span Product Family
        %ul
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-barcode/Aspose.BarCode-for-.NET"} Aspose.BarCode for .NET
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-barcode/Aspose.BarCode-for-Java"} Aspose.BarCode for Java
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-barcode/Aspose.BarCode-for-Cloud"} Aspose.BarCode for Cloud
      .api-box.col-lg-4
        .api-product-title
          %a{:href => "http://git-qa.aspose.com/aspose-imaging"}
            %i.api-imaging-ico.api-ico  
          %div
            %a{:href => "http://git-qa.aspose.com/aspose-imaging"}
              %h2 Aspose.Imaging
              %span Product Family
        %ul
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-imaging/Aspose.Imaging-for-.NET"} Aspose.Imaging for .NET
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-imaging/Aspose.Imaging-for-Java"} Aspose.Imaging for Java
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-imaging/Aspose.Imaging-for-Cloud"} Aspose.Imaging for Cloud
      .api-box.col-lg-4
        .api-product-title
          %a{:href => "http://git-qa.aspose.com/aspose-tasks"}
            %i.api-tasks-ico.api-ico  
          %div
            %a{:href => "http://git-qa.aspose.com/aspose-tasks"}
              %h2 Aspose.Tasks
              %span Product Family
        %ul
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-tasks/Aspose.Tasks-for-.NET"} Aspose.Tasks for .NET
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-tasks/Aspose.Tasks-for-Java"} Aspose.Tasks for Java
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-tasks/Aspose.Tasks-for-Cloud"} Aspose.Tasks for Cloud
      .api-box.col-lg-4
        .api-product-title
          %a{:href => "http://git-qa.aspose.com/aspose-ocr"}
            %i.api-ocr-ico.api-ico  
          %div
            %a{:href => "http://git-qa.aspose.com/aspose-ocr"}
              %h2 Aspose.OCR
              %span Product Family
        %ul
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-ocr/Aspose.OCR-for-.NET"} Aspose.OCR for .NET
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-ocr/Aspose.OCR-for-Java"} Aspose.OCR for Java
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-ocr/Aspose.OCR-for-Cloud"} Aspose.OCR for Cloud
      .api-box.col-lg-4
        .api-product-title
          %a{:href => "http://git-qa.aspose.com/aspose-diagram"}
            %i.api-diagram-ico.api-ico  
          %div
            %a{:href => "http://git-qa.aspose.com/aspose-diagram"}
              %h2 Aspose.Diagram
              %span Product Family
        %ul
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-diagram/Aspose.Diagram-for-.NET"} Aspose.Diagram for .NET
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-diagram/Aspose.Diagram-for-Java"} Aspose.Diagram for Java
      .api-box.col-lg-4
        .api-product-title
          %a{:href => "http://git-qa.aspose.com/aspose-note"}
            %i.api-note-ico.api-ico  
          %div
            %a{:href => "http://git-qa.aspose.com/aspose-note"}
              %h2 Aspose.Note
              %span Product Family
        %ul
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-note/Aspose.Note-for-.NET"} Aspose.Note for .NET
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-note/Aspose.Note-for-Java"} Aspose.Note for Java
  .white-bg
    .container
      .api-box.col-lg-4
        .api-product-title
          %a{:href => "http://git-qa.aspose.com/aspose-3d"}
            %i.api-3d-ico.api-ico  
          %div
            %a{:href => "http://git-qa.aspose.com/aspose-3d"}
              %h2 Aspose.3D
              %span Product Family
        %ul
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-3d/Aspose.3D-for-.NET"} Aspose.3D for .NET
      .api-box.col-lg-4
        .api-product-title
          %a{:href => "http://git-qa.aspose.com/aspose-cad"}
            %i.api-cad-ico.api-ico  
          %div
            %a{:href => "http://git-qa.aspose.com/aspose-cad"}
              %h2 Aspose.CAD
              %span Product Family
        %ul
          %li
            %a{:href => "http://git-qa.aspose.com/aspose-cad/Aspose.CAD-for-.NET"} Aspose.CAD for .NET
