.container-fluid.api-block-section
  .white-bg
    .container
      .api-box.col-lg-4
        .api-product-title
          %a{:href => "http://git-qa.groupdocs.com/groupdocs-viewer?tab=repositories"}
            %i.api-viewer-ico.api-ico  
            %div
              %h2 GroupDocs.Viewer
              %span Product Family
        %ul
          %li
            %a{:href => "http://git-qa.groupdocs.com/groupdocs-viewer/GroupDocs.Viewer-for-.NET"} GroupDocs.Viewer for .NET
          %li
            %a{:href => "http://git-qa.groupdocs.com/groupdocs-viewer/GroupDocs.Viewer-for-Java"} GroupDocs.Viewer for Java
      .api-box.col-lg-4
        .api-product-title
          %a{:href => "http://git-qa.groupdocs.com/groupdocs-annotation/"}
            %i.api-metadata-ico.api-ico  
            %h2 GroupDocs.Annotation
            %span Product Family
        %ul
          %li
            %a{:href => "http://git-qa.groupdocs.com/groupdocs-annotation/GroupDocs.Annotation-for-.NET"} GroupDocs.Annotation for .NET
          %li
            %a{:href => "http://git-qa.groupdocs.com/groupdocs-annotation/GroupDocs.Annotation-for-Java"} GroupDocs.Annotation for Java
      .api-box.col-lg-4
        .api-product-title
          %a{:href => "http://git-qa.groupdocs.com/groupdocs-conversion?tab=repositories"}
            %i.api-conversion-ico.api-ico  
            %h2 GroupDocs.Conversion
            %span Product Family
        %ul
          %li
            %a{:href => "http://git-qa.groupdocs.com/groupdocs-conversion/GroupDocs.Conversion-for-.NET"} GroupDocs.Conversion for .NET
          %li
            %a{:href => "http://git-qa.groupdocs.com/groupdocs-conversion/GroupDocs.Conversion-for-Java"} GroupDocs.Conversion for Java
  .gray-bg
    .container
      .api-box.col-lg-4
        .api-product-title
          %a{:href => "http://git-qa.groupdocs.com/groupdocs-comparison?tab=repositories"}
            %i.api-comparison-ico.api-ico  
            %h2 GroupDocs.Comparison
            %span Product Family
        %ul
          %li
            %a{:href => "http://git-qa.groupdocs.com/groupdocs-comparison/GroupDocs.Comparison-for-.NET"} GroupDocs.Comparison for .NET
          %li
            %a{:href => "http://git-qa.groupdocs.com/groupdocs-comparison/GroupDocs.Comparison-for-Java"} GroupDocs.Comparison for Java
      .api-box.col-lg-4
        .api-product-title
          %a{:href => "http://git-qa.groupdocs.com/groupdocs-signature?tab=repositories"}
            %i.api-assembly-ico.api-ico  
            %h2 GroupDocs.Signature
            %span Product Family
        %ul
          %li
            %a{:href => "http://git-qa.groupdocs.com/groupdocs-signature/GroupDocs.Signature-for-.NET"} GroupDocs.Signature for .NET
      .api-box.col-lg-4
        .api-product-title
          %a{:href => "http://git-qa.groupdocs.com/groupdocs-assembly?tab=repositories"}
            %i.api-assembly-ico.api-ico  
            %h2 GroupDocs.Assembly
            %span Product Family
        %ul
          %li
            %a{:href => "http://git-qa.groupdocs.com/groupdocs-assembly/GroupDocs.Assembly-for-.NET"} GroupDocs.Assembly for .NET
    / container
    .container
      .api-box.col-lg-4
        .api-product-title
          %a{:href => "http://git-qa.groupdocs.com/groupdocs-metadata?tab=repositories"}
            %i.api-metadata-ico.api-ico  
            %h2 GroupDocs.Metadata
            %span Product Family
        %ul
          %li
            %a{:href => "http://git-qa.groupdocs.com/groupdocs-metadata/GroupDocs.Metadata-for-.NET"} GroupDocs.Metadata for .NET
      .api-box.col-lg-4
        .api-product-title
          %a{:href => "http://git-qa.groupdocs.com/groupdocs-search?tab=repositories"}
            %i.api-search-ico.api-ico  
            %h2 GroupDocs.Search
            %span Product Family
        %ul
          %li
            %a{:href => "http://git-qa.groupdocs.com/groupdocs-search/GroupDocs.Search-for-.NET"} GroupDocs.Search for .NET
      / 4
    / container
