
%article.file-holder.snippet-file-content
  .file-title
    = blob_icon 0, snippet.file_name
    = snippet.file_name
    .file-actions
      = link_to 'Raw', raw_namespace_project_snippet_url(project.namespace, project, snippet), class: "btn btn-sm", target: "_blank"
  = render 'shared/snippets/blob'